@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html,
body {
    padding: 0;
    margin: auto;
    width: 1440px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

a,
p,
h1,
h2,
h3,
ul,
li,
table,
tr,
th,
div,
b {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation {
    box-sizing: border-box;
    padding: 0 140px;
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

.main-navigation a {
    color: #000;
}

.site-navigation {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-link::before {
    content: "";
    display: inline-block;
    background-image: url(../img/cart-icon.svg);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    margin-right: 25px;
}

.slider {
    box-sizing: border-box;
    padding: 0 140px;
    width: 100%;
    height: 431px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eee;
    position: relative;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    width: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 96px;
    left: 676px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    border: 3px solid #c1c1c1;
}

.slider label {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 6px #fff;
    border-radius: 100%;
    cursor: pointer;
}

.slider-item {
    display: block;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    box-sizing: border-box;
}

.slider-item h3 {
    font-weight: 500;
    line-height: 55px;
    font-size: 55px;
    margin-bottom: 30px;
}

.slider-item p {
    line-height: 24px;
    color: #283136;
    margin-bottom: 40px;
}

.slider-button {
    width: 240px;
}

.one {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 431px 18px;
    display: none;
}

.two {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 496px 1px;
    display: none;
}

.three {
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-position: 401px 19px;
    display: none;
}

#btn-1:checked ~ .one { 
    display: block;
}
#btn-2:checked ~ .two { 
    display: block;
}
#btn-3:checked ~ .three { 
    display: block;
}

.projects {
    box-sizing: border-box;
    padding: 0 140px;
    width: 100%;
    height: 469px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.projects h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.projects p {
    margin-bottom: 35px;
    color: #283136;
}

.projects-button {
    width: 160px;
}

.red::before {
    content: "";
    display: block;
    width: 300px;
    height: 146px;
    background-image: url(../img/illustration-1.png);
    background-size: 300px 146px;
    margin-bottom: 25px;
}

.green::before {
    content: "";
    display: block;
    width: 300px;
    height: 146px;
    background-image: url(../img/illustration-2.png);
    background-size: 300px 146px;
    margin-bottom: 25px;
}

.yellow::before {
    content: "";
    display: block;
    width: 300px;
    height: 146px;
    background-image: url(../img/illustration-3.png);
    background-size: 300px 146px;
    margin-bottom: 25px;
}

.green .projects-button {
    background-color: #00ca74;
}

.yellow .projects-button {
    background-color: #efc84a;
}

.projects-item:not(:last-of-type) {
    margin-right: 100px;
}

.main-footer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contacts {
    box-sizing: border-box;
    width: 319px;
    height: 308px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    position: absolute;
    top: 54px;
    left: 140px;
}

.contacts b {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contacts p {
    color: #666;
    margin-bottom: 37px;
}

.social {
    width: 100%;
    box-sizing: border-box;
    height: 217px;
    padding: 0 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-links {
    width: 259px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
}

.social-links li {
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    background-color: #e1e1e1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.vk::before {
    content: "";
    display: block;
    width: 26px;
    height: 15px;
    background-size: 26px 15px;
    background-image: url(../img/vk-icon.svg);
}

.fb::before {
    content: "";
    display: block;
    width: 12px;
    height: 22px;
    background-size: 12px 22px;
    background-image: url(../img/fb-icon.svg);
}

.insta::before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
    background-image: url(../img/insta-icon.svg);
}

.social-friends b {
    display: block;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.social-friends p {
    color: #444;
}

.write-us-button {
    display: block;
    width: 219px;
}

iframe {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #eee;
    width: 100vw;
    display: block;
}

.write-us {
    display: none;
    position: absolute;
}

.current {
    padding-bottom: 5px;
    border-bottom: 2px solid #fb565a;
}

.button {
    height: 50px;
    background-color: #fb565a;
    color: #fff;
    box-sizing: border-box;
    padding: 18px 0;
    border-radius: 3px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
